<div class="container">
  <div class="dialog-header" style="height: 30px;    padding-left: 10px;">
    <h5 mat-dialog-title style="margin-top: 3px;font-size: 16px;">Approve Codes</h5>
  </div>

  <form class="mat-dialog-content" #formControl="ngForm">

    <div style="padding: 0px 20px 20px 20px;">
      <table>
        <tr>
              <td>
                <div class="form">
                      <mat-checkbox class="example-margin" 
                    (change)="OnChange($event)"
                    [(checked)]="IsChecked"
                    [labelPosition]="LabelAlign"
                    [disabled]="IsDisabled">Active</mat-checkbox>
                  </div>
              </td>
        </tr>
        <tr>
          <td>
              <mat-label>Code Value</mat-label>
          </td>
          <td>
            <div class="form">
               <mat-form-field >
                    <input matInput #inputstate class="form-control required-field" [(ngModel)]="data.codeValue" name="codeValue" maxlength="10" readonly="true"
                      required>
                    
               </mat-form-field>
            </div>
          </td>
        </tr>
        <tr>
          <td>
              <mat-label>Short Description</mat-label>
          </td>
          <td>
            <div class="form">
               <mat-form-field >
                   <input matInput #inputstate class="form-control required-field" [(ngModel)]="data.shortDesc" name="shortDesc" maxlength="12" readonly="true" required>
                  
                </mat-form-field>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <mat-label>Long Description</mat-label>
          </td>
          <td>
            <div class="form">
               <mat-form-field >
                   <input matInput #inputstate class="form-control required-field" [(ngModel)]="data.longDesc" name="longDesc" readonly="true"
                      maxlength="50" required>
                   
                </mat-form-field>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="err-msg">
      <app-messages></app-messages>
  </div>
    <div style="text-align:center;padding-bottom: 5px;padding-top: 5px; padding-right: 10px;background-color: #f0f6f9;">
      <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      <button mat-raised-button [type]="submit" [disabled]="!formControl.valid" (click)="startApprove()" style="margin-right: 5px;">Approve</button>
    </div>
  </form>
</div>
