<div class="container">

  <div class="dialog-header" style="height: 30px;    padding-left: 10px;">
    <h5 mat-dialog-title style="margin-top: 3px;font-size: 16px;">Request new password</h5>
  </div>
  <form class="mat-dialog-content" #formControl="ngForm">
    <div class="err-msg">
      <app-messages></app-messages>
    </div>
    <div style="padding: 0px 20px 20px 20px; justify-content: center; align-items: center; display: flex;">
      <table>
        <tr>
          <td>
            <mat-label>Entity</mat-label>
          </td>
          <td>
            <div class="form">
              <mat-form-field>
                <input matInput #inputstate class="form-control required-field" [(ngModel)]="data.entity" name="entity" maxlength="3" required>
               
              </mat-form-field>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <mat-label>Username</mat-label>
          </td>
          <td>
            <div class="form">
              <mat-form-field>
                <input matInput #inputstate class="form-control required-field" [(ngModel)]="data.username" name="username" maxlength="50" required>
                
              </mat-form-field>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div style="text-align:center;padding-bottom: 5px;padding-top: 5px; padding-right: 10px;background-color: #f0f6f9;">
      <button mat-raised-button [disabled]="!formControl.valid" (click)="confirmAdd()" style="margin-right: 5px;">Request</button>
    </div>
  </form>
</div>
