<div class="container">
 <div class="dialog-header" style="height: 30px;    padding-left: 10px;">
    <h5 mat-dialog-title style="margin-top: 3px;font-size: 16px;">Approve Branches</h5>
  </div>
  <form class="mat-dialog-content" (ngSubmit)="approve()" #formControl="ngForm">
    <div style="padding: 0px 20px 20px 20px;">
    <table> 
      <tr>
          <td>
              <mat-label>Active</mat-label>
          </td>
          <td style="padding-left: 10px;">
              <div class="form">
                <mat-checkbox (change)="OnChange($event)" [(checked)]="checked" [disabled]="disabled"></mat-checkbox>
              </div>
           </td>
      </tr>     
      <tr>
          <td>
            <mat-label>Branch Code</mat-label>
          </td>
          <td>
            <div class="form">
              <mat-form-field>
                <input matInput #inputstate class="form-control" disabled [(ngModel)]="data.branchCode" name="branchCode" maxlength="255">
              </mat-form-field>
            </div>
          </td>
          <td>
            <mat-label>Branch Desc</mat-label>
          </td>
          <td>
            <div class="form">
              <mat-form-field>
                <input matInput #inputstate class="form-control" disabled [(ngModel)]="data.branchDesc" name="branchDesc" maxlength="255">
              </mat-form-field>
            </div>
          </td>
      </tr>
      <tr>
          <td>
              <mat-label >Branch Name (1)</mat-label>
          </td>
          <td >
            <div class="form">
              <mat-form-field>
                <input matInput #inputstate class="form-control" disabled [(ngModel)]="data.name1" name="name1" maxlength="35">
              </mat-form-field>
            </div>
          </td>
          <td>
              <mat-label>Branch Name (2)</mat-label>
          </td>
          <td>
            <div class="form">
              <mat-form-field>
                <input matInput #inputstate class="form-control" disabled [(ngModel)]="data.name2" name="name2" maxlength="35">
              </mat-form-field>
            </div>
          </td>
      </tr>
      <tr>
          <td>
              <mat-label >Address</mat-label>
          </td>
          <td>
              <div class="form height-align" style="margin-bottom: 30px;">
              <mat-form-field>
                <textarea matInput #inputstate class="form-control" disabled [(ngModel)]="data.address" name="address" maxlength="255"></textarea>
               </mat-form-field>
               </div>
          </td>
          <td>
              <mat-label >Pin Code</mat-label>
          </td>
          <td>
              <div class="form">
              <mat-form-field>
                <input matInput #inputstate class="form-control" disabled [(ngModel)]="data.pinCode" name="pinCode" maxlength="8" >
              </mat-form-field>
              </div>
          </td>
      </tr>
      <tr>
          <td>
              <mat-label >Country</mat-label>
          </td>
          <td>
              <div class="form">
              <mat-form-field color="accent">
                <input matInput #inputstate class="form-control" disabled [(ngModel)]="data.country" name="country" maxlength="255" required>
              </mat-form-field>
              </div>
          </td>
          <td>
              <mat-label >Region</mat-label>
          </td>
          <td>
              <div class="form">
              <mat-form-field color="accent">
                <input matInput #inputstate class="form-control" disabled [(ngModel)]="data.region" name="region" maxlength="255" required>
              </mat-form-field>
              </div>
          </td>
      </tr>
    </table>
    </div>
  </form>
  <div style="text-align:center;padding-bottom: 5px;padding-top: 5px; padding-right: 10px;background-color: #f0f6f9;">
      <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>&nbsp;&nbsp;
      <button mat-raised-button [type]="submit" (click)="approve()" style="margin-right: 5px;">Approve</button>
  </div>
</div>
