<div class="container">
  <div class="dialog-header" style="height: 30px;    padding-left: 10px;">
    <h5 mat-dialog-title style="margin-top: 3px;font-size: 16px;">Add New Depreciation Policy</h5>
    <label class="required-field-all">&nbsp;Required Field</label>
  </div>
 

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
    <div style="padding: 0px 20px 20px 20px;">
      <table>
        <tr>
          <td>
            <mat-label>Asset Type</mat-label>
          </td>
          <td>
            <div class="from">
              <mat-form-field >
                <mat-select [(ngModel)]="selectedAssetType" name="assetTypeSelect" (selectionChange)="assetTypeChangeAction($event)" [ngModelOptions]="{standalone: true}"  class="required-field" required>
                  <mat-option *ngFor="let assetType of assetTypeSelect" [value]="assetType">{{assetType.shortDesc}}</mat-option>
                </mat-select>
               
              </mat-form-field>
            </div>
          </td>
          <td>
             <mat-label>Frequency</mat-label>
          </td>
          <td>
             <div class="from">
              <mat-form-field >
                <mat-select [(ngModel)]="selectedDepCollFrequeny" name="depCollFrequencySelect" (selectChange)="depCollFrequencyChangeAction"
                  [ngModelOptions]="{standalone: true}" class="required-field" required>
                  <mat-option *ngFor="let depCollFreq of depCollFrequencySelect" [value]="depCollFreq">{{depCollFreq.shortDesc}}</mat-option>
                </mat-select>
               
              </mat-form-field>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <mat-label>Asset Sub Type</mat-label>
          </td>
          <td>
            <div class="from">
              <mat-form-field >
                <mat-select [(ngModel)]="selectedAssestSubType" name="assetSubTypeSelect" (selectChange)="assetSubTypeChangeAction" [ngModelOptions]="{standalone: true}" class="required-field" required>
                  <mat-option *ngFor="let assetSubType of filterAssetSubType" [value]="assetSubType">{{assetSubType.shortDesc}}</mat-option>
                </mat-select>
             
              </mat-form-field>
            </div>
          </td>
           <td>
            <mat-label style="text-align: right">Depreciation Rate (%)</mat-label>
          </td>
          <td>
            <div class="form">
              <mat-form-field >
                <input type="number" [maxlength]="3" pattern="(?:\b|-)([1-9]{1,2}[0]?|100)\b" onkeydown="javascript: return event.keyCode == 69 ? false : true" matInput #inputstate class="form-control required-field" [(ngModel)]="data.depRate" name="depRate"  required>
               
              </mat-form-field>
            </div>
          </td>
        </tr>
        <tr>
          <td>
             <mat-label>Method</mat-label>
          </td>
          <td>
             <div class="from">
              <mat-form-field >
                <mat-select [(ngModel)]="selectedDepreciationMethod" name="depreciationMethodSelect" (selectChange)="depreciationMethodChangeAction"
                  [ngModelOptions]="{standalone: true}" required class="required-field">
                  <mat-option *ngFor="let depMethod of depreciationMethodSelect" [value]="depMethod">{{depMethod.shortDesc}}</mat-option>
                </mat-select>
                
              </mat-form-field>
            </div>
          </td>
          <td>
            <mat-label style="text-align: left">Depreciation Useful Life (Year)</mat-label>
          </td>
          <td>
            <div class="form">
              <mat-form-field >
                <input type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" matInput #inputstate class="form-control required-field" [(ngModel)]="data.depUsefulLife"
                  name="depUsefulLife" maxlength="2" required pattern="^(\d{1,2}\.)?\d{1,2}$">
              
              </mat-form-field>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div style="text-align:center;padding-bottom: 5px;padding-top: 5px; padding-right: 10px;background-color: #f0f6f9;">
      <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>&nbsp;&nbsp;
      <button mat-raised-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()" style="margin-right: 5px;">Save</button>
    </div>
  </form>
</div>
