.tablink {
	text-decoration: none;
	margin-top: -8px;
}

.mat-tab-label-active {
	/* color: #1789ea !important; */
	background: #1789ea !important;
	height: 56px;
}

.mat-tab-label:hover {
	color: #1789ea !important;
	background: #1789ea !important;
}

.mat-tab-link {
	height: 56px;
	color: #ffffff;
}

:host ::ng-deep .mat-ink-bar {
	background-color: #ff9900 !important;
}

.mat-icon::ng-deep svg {
	width: 100%;
	height: 100%;
	transform-origin: left top !important;
}