<div class="container">
    <div class="dialog-header" style="height: 30px;    padding-left: 10px;">
      <h5 mat-dialog-title style="margin-top: 3px;font-size: 16px;">Add New Code Value</h5>
       <label class="required-field-all">&nbsp;Required Field</label>
    </div>
  
    <form class="mat-dialog-content" #formControl="ngForm">
      <div style="padding: 0px 20px 20px 20px;">
        <table>
          <tr>
            <td>
              <mat-label>Code Type</mat-label>
            </td>
            <td>
              <div class="form">
                <mat-form-field >
                  <mat-select placeholder="" [(ngModel)]="selectedCode"  class="form-control required-field" (selectionChange)="onCodeTypeSelectChanged($event)" [ngModelOptions]="{standalone: true}" class="required-field" required>
                    <mat-option *ngFor="let c of codes" [value]="c">{{c.codeIdDesc}}</mat-option>
                  </mat-select>
                </mat-form-field>
  
              </div>
            </td>
            <td>
              <div class="form">
              <mat-checkbox class="example-margin"
            (change)="OnChange($event)"
            [(checked)]="IsChecked"
            [labelPosition]="LabelAlign"
            [disabled]="IsDisabled">Active</mat-checkbox>
          </div>
          </td>
          </tr>
          <!--CodeValue Parent Type Relation.-->
          <tr *ngIf="!disableSelect">	  
            <td>
               <mat-label>Parent Type</mat-label>
            </td>
           <!--  <td>
            <div class="form">
                 <mat-form-field >
                <mat-select placeholder="-- None --" [(ngModel)]="parentTypeSelectedCode"  class="form-control" [ngModelOptions]="{standalone: true}" (selectionChange)="parentTypeCodesOnChanged($event)">
                  <mat-option [value]="None">None</mat-option>   
                  <mat-option *ngFor="let c of parentTypeCodes" [value]="c">{{c.codeIdDesc}}</mat-option>
                </mat-select>
                 <mat-error *ngIf="formControl.invalid">{{getErrorMessage('Choose at least One')}}</mat-error> 
                </mat-form-field>
            </div>
            </td>-->
            <td>
            <div class="form">
              <mat-form-field>
               <mat-select  [(ngModel)]="parentTypeSelectedCodeValues"  class="form-control required-field" [ngModelOptions]="{standalone: true}" required>
                <mat-option *ngFor="let val of parentTypeCodeValues" [value]="val">{{val.longDesc}}</mat-option>
              </mat-select>
               </mat-form-field>
           </div>        
            </td>
          </tr>
          <tr>
            <td>
              <mat-label>Code Value</mat-label>
            </td>
            <td>
              <div class="form">
                <mat-form-field >
                  <input matInput #inputstate class="form-control required-field"  [(ngModel)]="data.codeValue" name="codeValue" [maxlength]="selectedCode?selectedCode.codeValLen : ''"
                    required>
                  <div *ngIf="asynForm.get('codeValue').errors && asynForm.get('codeValue').errors.duplicate">
                     This codeValue is already taken!
                  </div>
                </mat-form-field>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <mat-label>Short Description</mat-label>
            </td>
            <td>
              <div class="form">
                <mat-form-field >
                  <input matInput #inputstate class="form-control required-field" [(ngModel)]="data.shortDesc" name="shortDesc" maxlength="12" required>
                </mat-form-field>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <mat-label>Long Description</mat-label>
            </td>
            <td>
              <div class="form">
                <mat-form-field >
                  <textarea matInput #inputstate class="form-control" [(ngModel)]="data.longDesc" name="longDesc"
                    maxlength="50" required></textarea>
                </mat-form-field>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="err-msg">
          <app-messages></app-messages>
      </div>
      <div style="text-align:center;padding-bottom: 5px;padding-top: 5px; padding-right: 10px;background-color: #f0f6f9;">
        <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>&nbsp;&nbsp;
        <button mat-raised-button [type]="submit" [disabled]="!formControl.valid" (click)="confirmAdd()" style="margin-right: 5px;">Save</button>
      </div>
    </form>
  </div>
  