<div class="container">
  <div class="dialog-header" style="height: 30px;    padding-left: 10px;">
    <h5 mat-dialog-title style="margin-top: 3px;font-size: 14px;">Modify</h5>
     <label class="required-field-all">&nbsp;Required Field</label>
  </div>

  <form class="mat-dialog-content" #formControl="ngForm">

    <div style="padding: 0px 20px 20px 20px; justify-content: center; align-items: center; display: flex;">
      <table>
        <tr>
          <td>
            <mat-label>Date</mat-label>
          </td>
          <td>
            <div class="form">
              <mat-form-field>
                <input matInput [(ngModel)]="data.date" name="date" [matDatepicker]="myDatepicker" readonly [min]="minDate" class="required-field-date">
                <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
              </mat-form-field>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <mat-label>Event</mat-label>
          </td>
          <td>
            <div class="form">
              <mat-form-field>
                <input matInput #inputstate class="form-control required-field" [(ngModel)]="data.event" name="event" maxlength="255" required>
               
              </mat-form-field>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="err-msg">
      <app-messages></app-messages>
    </div>

    <div style="text-align:center;padding-bottom: 5px;padding-top: 5px; padding-right: 10px;background-color: #f0f6f9;">
      <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>&nbsp;&nbsp;
      <button mat-raised-button [disabled]="!formControl.valid" (click)="stopEdit()" style="margin-right: 5px;">Save</button>      
    </div>
  </form>
</div>
