<div class="container mat-elevation-z2">

  <mat-tab-group dynamicHeight>

    <mat-tab label="Approval">
<div>
  <div class="form" style="background-color: #1789ea;min-height: 35px!important;max-height: 35px!important;">
          <span class="right">
            <label style="color: #ffffff; font-size: 14px;">Search</label>
            <input class="filter" #filter placeholder="Limit Approval">
            <button mat-icon-button (click)="refresh()" style="float: right; margin-bottom: 7px;">
                <mat-icon>refresh</mat-icon>
            </button>
          </span>
        </div>

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell" style="overflow-y:auto;">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="level">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Level</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.codeDesc}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="inputLimit">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Input Limit</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.inputLimit}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="approveLimit">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Approve Limit</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.approveLimit}}</mat-cell>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
          Approve
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button (click)="startEdit(i,row.id, row.levelCode, row.inputLimit, row.approveLimit, row.taskId, row.codeDesc)">
          <mat-icon svgIcon="fam-approve"></mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
</mat-tab>
</mat-tab-group>
</div>
